@import 'reset-css';

/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

button {
  /* Display & Box Model */
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
