@import 'reset-css';
@import 'variables';

/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

button {
  /* Display & Box Model */
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

body * {
  /* Color */
  color: $white;
}
