@import '../../sass/variables.scss';

.select-button {
  /* Display & Box Model */
  display: flex;
  justify-content: space-around;

  button {
    /* Display & Box Model */
    width: 100%;
    outline: none;
    &::-moz-focus-inner {
      /* Display & Box Model */
      border: 0;
    }

    /* Color */
    background: $black;
    &.selected {
      /* Color */
      background: $mine-shaft;
    }
    color: $white;

    /* Other */
    cursor: pointer;
  }
}
