@import '../../sass/variables.scss';

$time-unit-padding: 0.3;

.clock {
  /* Display & Box Model */
  margin: auto;

  .time-unit {
    /* Display & Box Model */
    display: inline-block;
    padding: 0 $time-unit-padding * 1rem;

    .digit {
      /* Display & Box Model */
      width: 1ch;
      /* Text */
      font-size: 4rem;
      @media screen and (max-width: $sm) {
        font-size: 2.5rem;
      }
      @media screen and (max-width: $xs) {
        font-size: 1.5rem;
      }
    }

    .digit:nth-child(even) {
      /* Display & Box Model */
      padding-left: 0 !important;
    }
  }

  .meridiem {
    /* Display & Box Model */
    display: inline-block;
    margin-left: $time-unit-padding * 1rem;
    padding: 0.6rem;
    vertical-align: bottom;
    /* Color */
    background: $black;

    span {
      /* Display & Box Model */
      vertical-align: bottom;
      /* Text */
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .clock-settings {
    /* Display & Box Model */
    padding-bottom: 0.5rem;
    padding-left: $time-unit-padding * 1rem;

    .select-button {
      /* Display & Box Model */
      width: 20%;

      button {
        /* Display & Box Model */
        padding: 0.6rem;
        @media screen and (max-width: $sm) {
          padding: 0.2rem;
        }

        /* Text */
        font-size: 0.9rem;

        &.selected {
          /* Text */
          font-weight: 700;
        }
      }
    }
  }
}
