@import '../../sass/variables.scss';

$time-unit-padding: 0.3rem;

.clock {
  /* Display & Box Model */
  margin: auto;

  .time-unit {
    /* Display & Box Model */
    display: inline-block;
    padding: $time-unit-padding;

    .digit {
      /* Display & Box Model */
      width: 1ch;

      /* Text */
      font-size: 4rem;
      @media screen and (max-width: 390px) {
        font-size: 2.5rem;
      }
    }

    .digit:nth-child(even) {
      /* Display & Box Model */
      padding-left: 0 !important;
    }
  }

  .clock-settings {
    /* Display & Box Model */
    padding: $time-unit-padding;

    .select-button {
      /* Display & Box Model */
      width: 20%;

      button {
        /* Display & Box Model */
        padding: 0.6rem;
        /* Text */
        font-size: 0.9rem;

        &.selected {
          /* Text */
          font-weight: 700;
        }
      }
    }
  }
}
