@import 'reset-css';
@import './sass/variables.scss';

/* Positioning */
/* Display & Box Model */
/* Color */
/* Text */
/* Other */

body {
  /* Color */
  background: $bod-gray;
  color: $white;
}

button {
  /* Display & Box Model */
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

html, body, #root, .App, .tool {
  /* Display & Box Model */
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.App {
  .tool {
    /* Display & Box Model */
    display: flex;
    height: 100%;
  }

  .tool-selection {
    /* Display & Box Model */
    width: 100%;
    /* Positioning */
    position: fixed;
    bottom: 0;

    .select-button {
      /* Display & Box Model */
      height: 3.5rem;
      margin: auto;
      width: 7rem;
      @media screen and (max-width: $sm) {
        height: 3.0rem;
        width: 6.0rem;
      }
      @media screen and (max-width: $xs) {
        height: 2.3rem;
        width: 4.4rem;
      }

      button {
        /* Display & Box Model */
        padding: 0.8rem;
        @media screen and (max-width: $sm) {
          padding: 0.6rem;
        }
      }
    }

    img {
      /* Display & Box Model */
      height: auto;
      vertical-align: middle;
      width: 100%;
    }
  }
}
