@import '../../sass/variables.scss';

$x-padding: 0.8;

.digit {
  /* Display & Box Model */
  border: 0;
  padding: 0.6rem $x-padding*1rem 0.6rem 0;
  width: 1ch;
  /* Color */
  background: $black;
  color: $white;
  /* Text */
  text-align: center;

  &:first-child {
    /* Display & Box Model */
    padding-left: $x-padding*1rem;
  }
}
