@import '../../sass/variables.scss';

.digit {
  /* Display & Box Model */
  border: 0;
  padding: 0.6rem 0.8rem;
  width: 1ch;

  /* Color */
  background: $black;
  color: $white;

  /* Text */
  font-size: 4rem;
  text-align: center;
}
